<div class="nested-fields">
    <div class="field">
        <%= f.label :descricao %>
        <%= f.text_field :descricao %>

        <%= f.label :valor %>
        <%= f.text_field :valor %>

        <%= f.label :prazo %>
        <%= f.text_field :prazo %>

        <%= link_to_remove_association('[Remover]', f) %>
    </div>
</div>