<div class="nested-fields">
    <div class="field">
        <%= f.label :nome %>
        <%= f.text_field :nome %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= link_to_remove_association('[Remover]', f) %>
    </div>
</div>