<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @administrator.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @administrator.matricula %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @administrator.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @administrator.email %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
